// Global Prefix -------------------------------
// ---------------------------------------------

.hexa {
	animation-duration: 1s;
    animation-fill-mode: both;
}

// Add Class noStop to infinite animation
.hexa.noStop {
  animation-iteration-count: infinite; // Specifies that the animation should be played infinite times (for ever)
}
// defines how many times an animation should be played.
.hexa.x2 {
   animation-iteration-count: 2;
   -webkit-animation-iteration-count: 2;
   -moz-animation-iteration-count: 2;
   -o-animation-iteration-count: 2;
   -ms-animation-iteration-count: 2;
}

.hexa.x3 {
   animation-iteration-count: 3;
   -webkit-animation-iteration-count: 3;
   -moz-animation-iteration-count: 3;
   -o-animation-iteration-count: 3;
   -ms-animation-iteration-count: 3;
}

.hexa.x4 {
   animation-iteration-count: 4;
   -webkit-animation-iteration-count: 4;
   -moz-animation-iteration-count: 4;
   -o-animation-iteration-count: 4;
   -ms-animation-iteration-count: 4;
}


